
.ust{ opacity: 1; 
    margin: 7% 35% 0 35%; 
     position: absolute;
    animation: Move 2s ease-in-out 0.5s;
    }
.alt{ opacity: 1; 
    margin: 26% 35% 0 35%; 
    transform: rotateX(180deg); 
    
    position: absolute;
    animation: Movea 2s ease-in-out 0.5s ;
   
}
    
.yazi{ opacity: 1;
    color: blue; 
    margin: 9% 35% 0 34%;
    position: absolute;
     letter-spacing: normal; 
     animation: Movey 1s ease-in-out 0.5s;
}

img{width: 100%;}

@keyframes Move{
    0%{ 
        margin: 7% 35% 0 35%;
        
    }
    50%{
        margin: 1% 35% 0 35%;
    }
    100%{
        margin: 7% 35% 0 35%;
    }
}
@keyframes Movea{
    0%{ 
        margin: 26% 35% 0 35%;
    }
    50%{
        margin: 32% 35% 0 35%;
    }
    100%{
        margin: 26% 35% 0 35%;
    }
}
@keyframes Movey{
    0%{   letter-spacing: normal;
        margin: 9% 35% 0 34%;
          
    }
    50%{
        margin: 9% 35% 0 15%;
        letter-spacing: 19vw;  
    }
    100%{
        letter-spacing: normal;
        margin: 9% 35% 0 34%;
    }
}
