.genel{ margin: 2% 20% 2% 20%;}
.yazi{ margin: 5% 10% 5% 10%;}
.display-4{ text-align: center; margin: 5% 10% 3% 10%;}
table{margin: 5% 10% 5% 10%; }
img{width: 80%;}
td{text-align: center; }
a{color: black;}
