.genel{width: 70%; margin: -1% 15% 2% 15%;; background-color: whitesmoke;}
.foto{width: 60%; margin: 2% 20% 2% 20%; }
p{ text-align: center; font-size:100%; width: 120%; margin: 1% 2% 3% -7%;}
h1{text-align: center; }
img{margin: 0% 3% 3% 15%;}  
svg{margin-top: -1%;}
