.genel{width: 70%; margin: 2% 15% 2% 15%;}
.sol{width: 32%; float: left; background-color: hsl(0, 3%, 17%) ;}
.sag{width: 68%; float: left; margin-top: 5%;}
h1{color: white; text-align: center;}
p{color: lightgrey; margin: 2% 2% 2% 4%;}
li{color: lightgrey; margin: 2% 2% 2% 1%;}  
table{margin: 2% 2% 2% 2%;}
img{ margin: 2% 2% 2% 18%;}
#ikincitable{margin: 5% 2% 2% 18%; background-color: hsl(0, 3%, 17%) ; border-radius: 2%; width: 69%;}

#beceri{margin: 4% 2% 2% 18%; width: 69%;  background-color: hsl(0, 3%, 17%) ; border-radius: 2%;}
