.genel{width: 90%; height: auto; margin: 3% 10% 3% 15%;}
.control{border: none; color: red;}
form{ width:80% ;margin: 0 auto 0 auto;}
h1{margin: 3% 10% 5% 15%; float: left; }
svg{float: left; margin-top: 1%;  }


